* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: #121418;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-width: 90%;
  color: white;
}

header {
  background-color: #f556d0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  width: 100%;
  padding: 20px;
  color: white;
  border-radius: 10px;
}
h2 {
  color: #ebf450;
}
.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.userform {
  background-color: #5e56f5;
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  width: 100%;
  padding: 10px 20px 10px 20px;
  color: white;
  border-radius: 10px;
}

.userform label {
  font-weight: bold;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.userform input {
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
  margin-bottom: 0.5rem;
}
.userform button {
  background: rgb(52, 29, 198);
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.userlist {
  background-color: #56f5c3;

  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  width: 100%;
  padding: 10px 20px 10px 20px;
  color: white;
  border-radius: 10px;
}
.useritem {
  background-color: #61049b;
  width: 100%;

  margin: 10px 0 10px 0;

  padding: 10px;
  text-align: left;

  color: white;
  border-radius: 10px;
}

.useritem button {
  background: rgb(238, 40, 18);
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.useritem button:hover {
  background: rgb(255, 193, 193);
  color: red;
}

.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: white;
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.727);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.727);
  position: absolute;
  overflow: hidden;
  top: 30vh;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 30%;
  z-index: 100;
}

.modalheader {
  background-color: #1019bd;
  color: white;
  padding: 15px;
  margin: 0;
}

.modalheader h3 {
  margin: 0;
}

.modalcontent {
  padding: 20px;
}

.modalcontent div {
  margin: 15px 0;
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

.modalcontent button {
  color: white;
  padding: 5px;
  background-color: rgb(138, 18, 18);
  font-size: 15px;
  position: absolute;
  bottom: 5px;
  right: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
